@import "../../../theme-chalk/mixins/mixins.scss";
@import "../../../theme-chalk//common//var.scss";

@include b(backtop) {
    position: fixed;
    background-color: $--backtop-background-color;
    font-size: 14px;
    text-align: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    color: $--backtop-font-color;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.12);
    cursor: pointer;
    z-index: 5;
  
    &:hover {
      background-color: $--backtop-hover-background-color;
    }
}